<div class="main">
  <div id="cta" class="flex-column">
    <div class="flex justify-content-center">
      <div class="flex flex-column align-items-center">
        <div>
          <img
            width="220px"
            height="180px"
            src="assets/FSP_Logo_1.png"
            alt=""
          />
        </div>
        <div>
          <h1
            class="text-white xl:text-7xl lg:text-6xl md:text-5xl sm:text-4xl"
          >
            Festival Scheduler Pro
          </h1>
        </div>
      </div>
    </div>
    <div class="flex justify-content-center">
      <div
        [ngStyle]="{ width: '50vw' }"
        class="flex justify-content-evenly mt-6"
      >
        <p-button
          [raised]="true"
          severity="success"
          icon="pi pi-fw pi-sign-in"
          label="Login"
          (onClick)="goToLogin()"
        ></p-button>
      </div>
    </div>
  </div>
</div>
