<app-header
  [title]="headerTitle"
  [icon]="headerIcon"
  [buttonTitle]="buttonTitle"
  [buttonIcon]="buttonIcon"
  [buttonVisible]="buttonVisible"
  (buttonAction)="addNewEvent()"
></app-header>

<app-body>
  <div class="flex justify-content-center">
    <p-table
      *ngIf="allEvents$ | async as events"
      [style]="{ width: '85vw' }"
      #dt
      styleClass="p-datatable-sm mt-2"
      [value]="events"
      [rows]="10"
      [rowsPerPageOptions]="[10, 25, 50]"
      [paginator]="true"
      [globalFilterFields]="[
        'eventName',
        'eventStartDate',
        'eventEndDate',
        'eventIsActive'
      ]"
      [rowHover]="true"
      dataKey="id"
      selectionMode="single"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-start">
          <p-avatar
            icon="pi pi-calendar"
            styleClass="mr-2"
            shape="circle"
            [style]="{ 'background-color': '#2196F3', color: '#ffffff' }"
          ></p-avatar>
          <div class="mr-3">Events Table</div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="eventName">
            <div class="flex justify-content-center">
              Event Name<p-sortIcon field="eventName"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="eventStartDate">
            <div class="flex justify-content-center">
              Event Start Date<p-sortIcon field="eventStartDate"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="eventEndDate">
            <div class="flex justify-content-center">
              Event End Date<p-sortIcon field="eventEndDate"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="eventIsActive">
            <div class="flex justify-content-center">
              Event Active<p-sortIcon field="eventIsActive"></p-sortIcon>
            </div>
          </th>
          <th>
            <div class="flex justify-content-center">Actions</div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-event | async>
        <tr>
          <td>
            <div class="flex justify-content-center">
              {{ event.eventName }}
            </div>
          </td>
          <td>
            <div class="flex justify-content-center">
              {{ event.eventStartDate }}
            </div>
          </td>
          <td>
            <div class="flex justify-content-center">
              {{ event.eventEndDate }}
            </div>
          </td>
          <td>
            <div class="flex justify-content-center">
              <p-checkbox
                [disabled]="true"
                [(ngModel)]="event.eventIsActive"
                [binary]="true"
              ></p-checkbox>
            </div>
          </td>
          <td>
            <div class="flex justify-content-center">
              <p-button
                [outlined]="true"
                [raised]="true"
                severity="primary"
                label="Event Details"
                icon="pi pi-fw pi-info-circle"
                (onClick)="eventDetails(event.id)"
              ></p-button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">No data found.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          Total Number of Events:
          {{ events ? events.length : 0 }}
        </div>
      </ng-template>
    </p-table>
  </div>
</app-body>
