<div *ngIf="this.auth.currentUser">
  <p-menubar [model]="loggedInItems">
    <ng-template pTemplate="end">
      <div class="mt-3">
        <span class="mr-2">
          <div class="flex align-items-center">
            <div>
              <span>{{ loggedInUser }}</span>
            </div>
            <div>
              <img
                class="ml-2"
                [ngStyle]="{ width: '50px', height: '40px' }"
                src="assets/FSP_Logo_1.png"
              />
            </div>
          </div>
        </span>
        <!-- <div class="flex justify-content-end">
          <span>{{ loggedInUser }}</span>
        </div> -->
      </div>
    </ng-template>
  </p-menubar>
</div>

<div *ngIf="!this.auth.currentUser">
  <p-menubar [model]="loggedOutItems">
    <ng-template pTemplate="end">
      <div>
        <span class="mr-2">
          <a href="home">
            <div class="flex align-items-center">
              <div>
                <h2 class="uppercase">Festival Scheduler Pro</h2>
              </div>
              <div>
                <img
                  class="ml-2"
                  [ngStyle]="{ width: '50px', height: '40px' }"
                  src="assets/FSP_Logo_1.png"
                />
              </div>
            </div>
          </a>
        </span>
        <div class="flex justify-content-end">
          <span>{{ loggedInUser }}</span>
        </div>
      </div>
    </ng-template>
  </p-menubar>
</div>
