<p-toast></p-toast>
<app-header
  [title]="headerTitle"
  [icon]="headerIcon"
  [buttonTitle]="buttonTitle"
  [buttonIcon]="buttonIcon"
  [buttonVisible]="buttonVisible"
  (buttonAction)="addNewShift()"
></app-header>

<app-body>
  <div class="flex justify-content-center">
    <p-table
      *ngIf="allShifts$ | async as shifts"
      [style]="{ width: '85vw' }"
      #dt
      styleClass="p-datatable-sm mt-2"
      [value]="shifts"
      [rows]="10"
      [rowsPerPageOptions]="[10, 25, 50]"
      [paginator]="true"
      [globalFilterFields]="[
        'shiftName',
        'shiftGroup',
        'shiftStart',
        'shiftEnd',
        'shiftVolsRequired'
      ]"
      [rowHover]="true"
      dataKey="id"
      selectionMode="single"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [showCurrentPageReport]="true"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-start">
          <p-avatar
            icon="pi pi-stopwatch"
            styleClass="mr-2"
            shape="circle"
            [style]="{ 'background-color': '#2196F3', color: '#ffffff' }"
          ></p-avatar>
          <div class="mr-3">Shifts Table</div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="shiftName">
            <div class="flex justify-content-center">
              Shift Name<p-sortIcon field="shiftName"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="shiftGroup">
            <div class="flex justify-content-center">
              Shift Group<p-sortIcon field="shiftGroup"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="shiftStart">
            <div class="flex justify-content-center">
              Shift Start<p-sortIcon field="shiftStart"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="shiftEnd">
            <div class="flex justify-content-center">
              Shift End<p-sortIcon field="shiftEnd"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="shiftVolsRequired">
            <div class="flex justify-content-center">
              Volunteers Required<p-sortIcon
                field="shiftVolsRequired"
              ></p-sortIcon>
            </div>
          </th>
          <th>
            <div class="flex justify-content-center">Actions</div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-shift | async>
        <tr>
          <td>
            <div class="flex justify-content-center">
              {{ shift.shiftName }}
            </div>
          </td>
          <td>
            <div class="flex justify-content-center">
              {{ shift.shiftGroup }}
            </div>
          </td>
          <td>
            <div class="flex justify-content-center">
              {{ shift.shiftStart }}
            </div>
          </td>
          <td>
            <div class="flex justify-content-center">
              {{ shift.shiftEnd }}
            </div>
          </td>
          <td>
            <div class="flex justify-content-center">
              {{ shift.shiftVolsRequired }}
            </div>
          </td>
          <td>
            <div class="flex justify-content-center">
              <p-button
                [text]="true"
                severity="warning"
                label="Edit"
                icon="pi pi-fw pi-pencil"
                (onClick)="editShift(shift.id)"
              ></p-button>
              <p-button
                [text]="true"
                label="Delete"
                severity="danger"
                icon="pi pi-fw pi-trash"
                (onClick)="deleteShift(shift.id)"
              ></p-button>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">No data found.</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          Total Number of Shifts:
          {{ shifts ? shifts.length : 0 }}
        </div>
      </ng-template>
    </p-table>
  </div>
</app-body>

<p-confirmDialog
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  rejectButtonStyleClass="p-button-text"
  acceptButtonStyleClass="p-button-text"
  defaultFocus="reject"
></p-confirmDialog>
