<p-toast key="error"></p-toast>
<p-toast key="success" (onClose)="backToVolunteers()"></p-toast>
<app-header
  [title]="headerTitle"
  [icon]="headerIcon"
  [buttonIcon]="buttonIcon"
  [buttonTitle]="buttonTitle"
  [buttonVisible]="buttonVisible"
  (buttonAction)="backToVolunteers()"
></app-header>

<app-body>
  <form
    [formGroup]="addVolunteerForm"
    (ngSubmit)="onSubmit(addVolunteerForm)"
    novalidate
  >
    <p-card styleClass="bg-blue-100" header="{{ headerTitle }} Form">
      <ng-template pTemplate="content">
        <div class="formgrid grid">
          <div class="field col-12 md:col-6">
            <label for="firstName">First Name</label>
            <input
              id="firstName"
              type="text"
              formControlName="firstName"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
            <small
              *ngIf="
                (f['firstName'].invalid && f['firstName'].dirty) ||
                (addVolunteerForm.invalid &&
                  this.submitted &&
                  f['firstName'].invalid)
              "
              id="firstName-help"
              class="p-error"
              >First name is required.</small
            >
          </div>
          <div class="field col-12 md:col-6">
            <label for="lastName">Last Name</label>
            <input
              id="lastName"
              type="text"
              formControlName="lastName"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
            <small
              *ngIf="
                (f['lastName'].invalid && f['lastName'].dirty) ||
                (addVolunteerForm.invalid &&
                  this.submitted &&
                  f['lastName'].invalid)
              "
              id="lastName-help"
              class="p-error"
              >Last name is required.</small
            >
          </div>
          <div class="field col-12 lg:col-6">
            <label for="address1">Address 1</label>
            <input
              id="address1"
              type="text"
              formControlName="address1"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
            <small
              *ngIf="
                (f['address1'].invalid && f['address1'].dirty) ||
                (addVolunteerForm.invalid &&
                  this.submitted &&
                  f['address1'].invalid)
              "
              id="address1-help"
              class="p-error"
              >Address is required.</small
            >
          </div>
          <div class="field col-12 lg:col-6">
            <label for="address2">Address 2</label>
            <input
              id="address2"
              type="text"
              formControlName="address2"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
          </div>
          <div class="field col-12 md:col-6">
            <label for="city">City</label>
            <input
              id="city"
              type="text"
              formControlName="city"
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
            />
            <small
              *ngIf="
                (f['city'].invalid && f['city'].dirty) ||
                (addVolunteerForm.invalid &&
                  this.submitted &&
                  f['city'].invalid)
              "
              id="city-help"
              class="p-error"
              >City is required.</small
            >
          </div>
          <div class="field col-12 md:col-3">
            <label for="state">State</label>
            <p-dropdown
              styleClass="text-base text-color surface-overlay border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary p-inputtext-sm w-full"
              [options]="states"
              name="state"
              id="state"
              formControlName="state"
              placeholder="Select a State"
            ></p-dropdown>
          </div>
          <div class="field col-12 md:col-3">
            <label for="zipcode"> Zipcode</label>
            <p-inputMask
              styleClass="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              mask="99999"
              id="zipcode"
              name="zipcode"
              formControlName="zipcode"
              placeholder="99999"
            ></p-inputMask>
            <small
              *ngIf="
                (f['zipcode'].invalid && f['zipcode'].dirty) ||
                (addVolunteerForm.invalid &&
                  this.submitted &&
                  f['zipcode'].invalid)
              "
              id="username-help"
              class="p-error"
              >Zipcode is required.</small
            >
          </div>

          <div class="field col-12 md:col-6">
            <label for="email">Email</label>
            <input
              class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              type="email"
              pInputText
              id="email"
              name="email"
              formControlName="email"
              placeholder="yourname@email.com"
            />
          </div>
          <div class="field col-12 md:col-6">
            <label for="phone">Phone</label>
            <p-inputMask
              styleClass="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
              mask="(999) 999-9999"
              id="phone"
              name="phone"
              formControlName="phone"
              placeholder="(999) 999-9999"
            ></p-inputMask>
          </div>
          <div class="flex justify-content-center col-12 md:col-6 mt-3">
            <div class="field-checkbox">
              <p-checkbox
                formControlName="isActive"
                [binary]="true"
                inputId="isActive"
                name="isActive"
              ></p-checkbox>
              <label for="isActive">Volunteer Is Active?</label>
            </div>
          </div>
          <div class="flex justify-content-center col-12 md:col-6 mt-3">
            <div class="field-checkbox">
              <p-checkbox
                formControlName="isMinor"
                [binary]="true"
                inputId="isMinor"
                name="isMinor"
              ></p-checkbox>
              <label for="isMinor">Volunteer Is a Minor?</label>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-around">
          <p-button
            label="Save"
            icon="pi pi-fw pi-save"
            [text]="true"
            [raised]="true"
            severity="success"
            type="submit"
          ></p-button>
          <p-button
            label="Cancel"
            icon="pi pi-fw pi-times"
            [text]="true"
            [raised]="true"
            severity="warning"
            (onClick)="backToVolunteers()"
          ></p-button>
        </div>
      </ng-template>
    </p-card>
  </form>
</app-body>
